# Python
__pycache__/
*.pyc
*.pyo
.Python
.venv/
.venv/*
venv/
.envrc

# Virtual environments
.mediapipe_env/
.synthpose_env/

# OS
.DS_Store
Thumbs.db

# logs / outputs
*.log
*.sqlite3

# Unity
Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
*.csproj
*.unitypackage

# VSCode
.vscode/

# macOS
.DS_Store

# Model files
models_local/
